@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-display: swap;
  src: url('/fonts/Pretendard-Variable.woff2') format('woff2-variations');
  font-weight: 100 900; /* 가변 폰트의 지원 weight 범위 */
  font-style: normal;
}

@font-face {
  font-family: 'Ghanachocolate';
  font-display: swap;
  src:
    local('Ghanachocolate'),
    url('/fonts/Ghanachocolate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SB Aggro';
  font-display: swap;
  src: url('/fonts/SB-Aggro-B.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SB Aggro';
  font-display: swap;
  src: url('/fonts/SB-Aggro-L.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'SB Aggro';
  font-display: swap;
  src: url('/fonts/SB-Aggro-M.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}
body {
  font-family: 'Pretendard Variable', sans-serif;
  color: #373737;
  font-weight: 400;
}

/* 눈 키프레임 */
@keyframes snow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(900px);
  }
}

/* 눈 스타일 */
.custom-snow {
  background-size: 900px 900px;
  animation: snow 8s linear infinite;
  background-image: radial-gradient(3px 3px at 624px 577px, hsla(0, 100%, 99%, 0.7) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(4px 4px at 528px 874px, hsla(0, 100%, 99%, 0.5) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(6px 6px at 794px 485px, hsla(0, 100%, 99%, 0.6) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(5px 5px at 815px 183px, hsla(0, 100%, 99%, 0.4) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(6px 6px at 115px 286px, hsla(0, 100%, 99%, 0.7) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(3px 3px at 811px 760px, hsla(0, 100%, 99%, 0.7) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(6px 6px at 762px 618px, hsla(0, 100%, 99%, 0.5) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(5px 5px at 277px 128px, hsla(0, 100%, 99%, 0.7) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(3px 3px at 679px 811px, hsla(0, 100%, 99%, 0.3) 50%, rgba(55, 55, 55, 0)),
    radial-gradient(4px 4px at 45px 765px, hsla(0, 100%, 99%, 0.7) 50%, rgba(55, 55, 55, 0));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stretchFromCenter {
  0% {
    width: 0;
  }
  100% {
    width: 70dvw;
  }
}

.typing-cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: #fff;
  animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes IntroWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
